<a style="font-weight: bold; border-radius: 10px ;width: 150px;" href="/admin/exportUsers"
class=" btn btn-success ">
<span style="color: black; font-weight: bolder; font-size: medium;">Export Orders</span>
</a>







<div class="dropdown">
    <button class="btn border-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                Export Orders
            </button>
    <div class="dropdown-menu " style="background-color: black; text-align: center;" aria-labelledby="dropdownMenuLink">
         
            
        
        <a class="dropdown-item" href="/admin/exportUsers" style="color: aqua; font-weight: bolder;" value="<%= orderData %>">Last 3 days</a>
        
        <!-- <a class="dropdown-item" href="#">Jackets</a> -->
            
    </div>
</div>