<%- include('../layouts/adminheader.ejs') %>

<div class="container">
    <div class="col-xl-6 offset-xl-3">
        <div class="card">
            <div class="card-title" style="display: flex; justify-content:center;">
                <h3>Add Category</h3>
            </div>
            <hr>
            <% if(typeof message!=='undefined') { %>
                <h4>
                    <p style="color:red;">
                        <%= message %>
                    </p>
                </h4>
                <% } %>
                <form action="/admin/edit-category/<%=category._id%>" method="post">
                    <div class="form group mb-3">
                        <input type="text" class="form-control form-control-rounded" name="category"
                        id="input-7" value="<%=category.names%>" placeholder="Enter category" required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button value ="submit" class="btn btn-light btn-round"><i class="icon-arrow-right"></i>Update Category</button>
                        <a href="/admin/admin-category" class="btn btn-light btn-round">Category List</a>
                    </div>
                </form>
        </div>
    </div>
</div>

