<%- include("../layouts/userheader.ejs") %>

<div class="container-fluid bg-info mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h3 class="font-weight-semi-bold text-uppercase mb-3">Order Success &nbsp; <i class="material-icons">thumb_up</i></h3>
        
        <div class="d-inline-flex">
            <h1 class="m-0">Thanks For Ordering!!!</h1>
        </div>
        <br>
        <div class="d-inline-flex " >
            <h5 class="m-0 "  ><a href="view-product ">Continue To Shopping</a></h5>
            <!-- <br>
            <p class="m-0">Thanks For Order</p>
            <p class="m-0"></p> -->
        </div>
    </div>
</div>

<!-- <h2 style="padding-left: 10px;">Order Success</h2> -->
<%- include("../layouts/userfooter.ejs") %>

